/*
* @Author: lenovo
* @Date:   2017-10-12 19:06:18
* @Last Modified by:   lenovo
* @Last Modified time: 2017-10-16 09:42:08
*/
@import url('base.css');
/* 头部开始 */
.toubu-box{
	width: 100%;
	height: 0.90rem;
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
	padding-top: 0.17rem;
	/* border-bottom: 0.01rem solid #46454b; */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.header-1{
	width: 0.53rem;
	height: 0.63rem;
	background-color: #ffffff;
}
.header-1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.header-2{
	width: 5.00rem;
	height: 0.64rem;
	background-color: #b8b8b8;
	border-radius: 0.45rem;
	float: left;
	border: 0;
}
.header-2 input{
	border-radius:  0.45rem;
	padding-left: 0.3rem;
}
.header-3 img{
	display: block;
	width: 100%;
	height: 100%;
}
.header-3{
	width: 0.53rem;
	height: 0.64rem;
	background-color: #ffffff;
}
body{
	background-color: #f4f4f4;
}
/* 头部结束 */
/* 大屏幕开始 */
.bannar{
	width: 100%;
	height: 2.22rem;
	background-color: #ffffff;
	position: relative;
	margin-top: 1.07rem;
}
.bannar img{
	display: block;
	width: 100%;
	height: 100%;
}
.lunbo{
	width: 1.40rem;
	height: 0.14rem;
	position: absolute;
	top: 1.92rem;
	left: 2.50rem;
	float: left;
	position: relative;
}
.lunbo1{
	width: 0.17rem;
	height: 0.17rem;
	border-radius: 50%;
	background-color: #7b7b7d;
	position: absolute;
	top: 1.94rem;
	left: 2.82rem;
}
.lunbo2{
	width: 0.17rem;
	height: 0.17rem;
	border-radius: 50%;
	background-color: #7b7b7d;
	position: absolute;
	top: 1.94rem;
	left: 3.06rem;
}
.lunbo3{
	width: 0.17rem;
	height: 0.17rem;
	border-radius: 50%;
	background-color: #7b7b7d;
	position: absolute;
	top: 1.94rem;
	left: 3.3rem;
}
.lunbo4{
	width: 0.17rem;
	height: 0.17rem;
	border-radius: 50%;
	background-color: #7b7b7d;
	position: absolute;
	top: 1.94rem;
	left: 3.54rem;
}
.lunbo5{
	width: 0.17rem;
	height: 0.17rem;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 1.94rem;
	left: 3.78rem;
}
.lunbo6{
	width: 0.17rem;
	height: 0.17rem;
	border-radius: 50%;
	background-color: #7b7b7d;
	position: absolute;
	top: 1.94rem;
	left: 4.02rem;
}
.lunbo7{
	width: 0.17rem;
	height: 0.17rem;
	border-radius: 50%;
	background-color: #7b7b7d;
	position: absolute;
	top: 1.94rem;
	left: 4.26rem;
}
.lunbo8{
	width: 0.17rem;
	height: 0.17rem;
	border-radius: 50%;
	background-color: #7b7b7d;
	position: absolute;
	top: 1.94rem;
	left: 4.5rem;
}
/* 大屏幕结束 */
/* 列表开始 */
.list{
	width: 100%;
	height: 1.5rem;
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
	padding-top: 0.4rem;
	/* border-bottom: 0.01rem solid #46454b; */
}
.list-1{
	width: 0.87rem;
	height: 1.20rem;
	background-color: #ffffff;
}
.list-1-1{
	width: 0.86rem;
	height: 0.86rem;
	background-color: #ffffff;
	border-radius: 50%;
	overflow: hidden;
}
.list-1-1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.list-1-2{
	width: 0.86rem;
	height: 0.20rem;
	background-color: #ffffff;
	margin-top: 0.05rem;
	font-size: 0.12rem;
	text-align: center;
}
/* 列表结束 */
/* 头条开始 */
.toutiao{
	width: 100%;
	height: 1.05rem;
	background-color: #fafcfb;
	display: flex;
	justify-content: space-around;
	margin-top: 0.08rem;
}
.toutiao-left{
	width: 0.7rem;
	height: 0.66rem;
	background-color: #fafcfb;
	margin-top: 0.2rem;
}
.toutiao-left img{
	display: block;
	width: 100%;
	height: 100%;
}
.toutiao-right{
	width: 5.62rem;
	height: 0.66rem;
	background-color: #fafcfb;
	margin-top: 0.15rem;
	display: flex;
	justify-content: space-between;
}
.toutiao-right-1{
	width: 0.47rem;
	height: 0.66rem;
	background-color: #fafcfb;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 11px;
}
.toutiao-right-1-top{
	display: block;
	width: 0.57rem;
	height: 0.25rem;
	background-color: #fafcfb;
	color: #ed733c;
}
.toutiao-right-2{
	display: block;
	width: 4.99rem;
	height: 0.66rem;
	background-color: #fafcfb;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.toutiao-right-2-top{
	width: 4.99rem;
	height: 0.25rem;
	background-color: #fafcfb;
	font-size: 11px;
	color: #333333;
}
/* 头条结束 */
/* 商品开始 */
.shangpin{
	width:100%;
	height: 2.26rem;
	background-color: #f4f4f4;
	margin-top: 0.2rem;
	display: flex;
	position: relative;
}
.shangpin-left{
	width: 3.75rem;
	height: 2.26rem;
	background-color: #f4f4f4;
}
.shangpin-left img{
	display: block;
	width: 100%;
	height: 100%;
}
/* 商品结束 */
/* IT-选择开始 */
.it-top{
	width: 100%;
	height: 0.62rem;
	background-color: #f0f0f0;
	overflow: hidden;
}
.it-top-zhong{
	width: 3.20rem;
	height: 0.31rem;
	background-color: #f0f0f0;
	margin: 0.16rem auto;
	overflow: hidden;
}
.it-top-zhong-1{
	width: 0.68rem;
	height: 0.02rem;
	background-color: #becfec;
	margin-top: 0.16rem;
	float: left;
}
.it-top-zhong-2{
	width: 1.44rem;
	height: 0.31rem;
	background-color: #f0f0f0;
	margin-left: 0.20rem;
	float: left;
}
.it-top-zhong-2-1{
	width: 0.24rem;
	height: 0.31rem;
	background-color: #becfec;
	float: left;
}
.it-top-zhong-2-1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.it-top-zhong-2-2{
	width: 1.20rem;
	height: 0.31rem;
	background-color: #f0f0f0;
	float: left;
}
.it-top-zhong-2-2 p{
	font-size: 0.26rem;
	color: #000;
	margin-top: -0.03rem;
	margin-left: 0.10rem;
}
.it-top-zhong-3{
	width: 0.68rem;
	height: 0.02rem;
	background-color: #becfec;
	margin-top: 0.16rem;
	margin-left: 0.20rem;
	float: left;
}
.it-bottom{
	width: 100%;
	height: 2.6rem;
	background-color: #fff;
}
.it-bottom-1{
	width: calc(100% / 3);
	height: 100%;
	background-color: #ffffff;
	float: left;
	position: relative;
}
.it-bottom-1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.it-bottom-2{
	width: calc(100% / 3);
	height: 100%;
	background-color: #ffffff;
	float: left;
}
.it-bottom-2 img{
	display: block;
	width: 100%;
	height: 100%;
}
.it-bottom-3{
	width: calc(100% / 3);
	height: 2.59rem;
	background-color: #fff;
	float: left;
}
.it-bottom-3 img{
	display: block;
	width: 100%;
	height: 100%;
}
/* IT-选择结束 */
/* 潮流酷玩开始 */
.kuwan-top{
	width: 100%;
	height: 2.5rem;
	background-color: #f4f4f4;
	margin-top: 0.3rem;
	float: left;
	position: relative;
}
.kuwan-top-1{
	width: 4.99rem;
	height: 2.5rem;
	background-color: #f4f4f4;
	border-right: 0.01rem solid #fff;
	box-sizing: border-box;
	float: left;
}
.kuwan-top-1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.kuwan-bottom{
	width:100%;
	height: 2.26rem;
	background-color: #f4f4f4;
	display: flex;
	position: relative;
}
.kuwan-bottom1{
	width:100%;
	height: 2.26rem;
	background-color: #f4f4f4;
	display: flex;
	position: relative;
	margin-bottom: 0.98rem;
}
.kuwan-bottom-1{
	width: 3.75rem;
	height: 2.26rem;
	background-color: #f4f4f4;
}
.kuwan-bottom-1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.biaoti{
	width: 2rem;
	height: 0.58rem;
	background-color: #4293f3;
	margin-top: 0.3rem;
	border-radius: 50%;
	font-size: 0.12rem;
	color: #fff;
	float: left;
}
.biaoti p{
	margin: 0.10rem 0.4rem;
}
.biaoti1{
	width: 2rem;
	height: 0.58rem;
	background-color: #47464b;
	margin-top: 0.3rem;
	border-radius: 50%;
	font-size: 0.12rem;
	color: #fff;
	float: left;
}
.biaoti1 p{
	margin: 0.10rem 0.4rem;
}
.biaoti2{
	width: 2rem;
	height: 0.58rem;
	background-color: orange;
	margin-top: 0.3rem;
	border-radius: 50%;
	font-size: 0.12rem;
	color: #fff;
	float: left;
}
.biaoti2 p{
	margin: 0.10rem 0.4rem;
}
.wenzi{
	font-size: 0.12rem;
	color: #fff;
	position: absolute;
	bottom: 0.3rem;
	right: 2.7rem;
}
.wenzi1-1{
	font-size: 0.12rem;
	color: #000;
	position: absolute;
	bottom: 0.03rem;
	right: 2.7rem;
}
.wenzi1{
	font-size: 0.12rem;
	color: black;
	position: absolute;
	top: 0.05rem;
	left: 0.3rem;
}
.wenzi2{
	font-size: 0.12rem;
	color: black;
	position: absolute;
	top: 1.8rem;
	right: 0.2rem;
}
.wenzi3{
	font-size: 0.12rem;
	color: black;
	position: absolute;
	bottom: 0.1rem;
	right: 4.3rem;
}
.wenzi4{
	font-size: 0.12rem;
	color: black;
	position: absolute;
	bottom: 1.7rem;
	right: 1.1rem;
}
.wenzi5{
	font-size: 0.12rem;
	color: #fff;
	position: absolute;
	top: 0.3rem;
	left: 0.3rem;
}
.wenzi6{
	font-size: 0.12rem;
	color: black;
	position: absolute;
	top: 0.8rem;
	right: 0.7rem;
}
.wenzi7{
	font-size: 0.12rem;
	color: black;
	position: absolute;
	bottom: 0.1rem;
	right: 4.0rem;
}
.wenzi8{
	font-size: 0.12rem;
	color: black;
	position: absolute;
	bottom: 0.1rem;
	right: 0.2rem;
}
.wenzi9{
	font-size: 0.12rem;
	color: #fff;
	position: absolute;
	top: 1.7rem;
	left: 0.4rem;
}
.wenzi10{
	font-size: 0.12rem;
	color: #fff;
	position: absolute;
	top: 1.83rem;
	right: 0.7rem;
}
.wenzi11{
	font-size: 0.12rem;
	color: #fff;
	position: absolute;
	bottom: 0.2rem;
	right:4.9rem;
}
.wenzi12{
	font-size: 0.12rem;
	color: #000;
	position: absolute;
	bottom: 0.7rem;
	right: 1.3rem;
}
/* 潮流酷玩结束 */
/* 底部开始 */
.bottom-box{
	width: 100%;
	height: 0.98rem;
	background-color: #bcb5b1;
	padding-top: 0.15rem;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999;
}
.bottom-1{
	width: 0.57rem;
	height: 0.74rem;
	background-color: #bcb5b1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}
.bottom-2{
	width: 0.57rem;
	height: 0.74rem;
	background-color: #bcb5b1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}
.bottom-1-1{
	width: 100%;
	height: 0.41rem;
	background-color: #bcb5b1;
}
.bottom-1-2{
	width: 100%;
	height: 0.2rem;
	background-color: #bcb5b1;
	font-size: 0.12rem;
	color: #575757;
}
.bottom-1-2 a{
	color: #444444;
}
.bottom-1 .iconfont i{
	font-size: 0.5rem;
	margin-left: 0.04rem;
	color: #444444;
}
.bottom-2 .iconfont i{
	font-size: 0.5rem;
	margin-left: 0.04rem;
	color: orange;
}
.bottom-2 .bottom-1-2 a{
	color: orange;
}
/* 底部结束 */